{% extends "layout.html" %}

{% block title %}
    empty shift
{% endblock %}



{% block main %}
    <table class="table-sm table-bordered">
        <thead>
            {% set weekdays = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'] %}
            <tr>
                <th scope="col">date</th>
                {% for row in datelist %}
                    {% for day in row %}
                        {% if day[0] != 0 %}
                            <th scope="col">{{ day[0] }}</th>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="col">weeks</th>
                {% for row in datelist %}
                    {% for day in row %}
                        {% if day[0] != 0 %}
                            <th scope="col">{{ weekdays[day[1]] }}</th>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tr>
        </thead>

        <tbody>          
            {% for c in col %}
                <tr>
                    <th scope="row">{{ '%02d' % c[0] }}:00 <br>-<br>{{ '%02d' % c[1] }}:00</th>
                    {% for row in datelist %}
                        {% for day in row %}
                            {% if day[0] != 0 %}
                                <td></td>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </tr>
                {% endfor %}
        </tbody>
    </table>
{% endblock %}