{% extends "layout.html" %}

{% block title %}
    empty shift
{% endblock %}



{% block main %}
    <table class="table-sm table-bordered">
        <thead>
            <tr>
                <th scope="col">date</th>
                {% set weekdays = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'] %}
                {% for row in datelist %}
                    {% for i in range(5) %}
                        {% if row[i][0] != 0 %}
                            <th scope="col">{{ row[i][0] }} 
                        {% endif %}
                            </th>
                    {% endfor %}
                {% endfor %}
            </tr> 
            
            <tr>
                <th scope="col">weeks</th>

                {% for row in datelist %}
                    {% for i in range(5) %}
                        {% if row[i][0] != 0 %}
                            <th scope="col">{{ weekdays[row[i][1]]}} 
                        {% endif %}
                            </th>
                    {% endfor %}
                {% endfor %}
            </tr>    
        </thead>

        <tbody>          
            {% for c in col%}
            <tr>
                <th scope="row">{{ '%02d' % c[0] }}:00 <br>-<br>{{ '%02d' % c[1] }}:00</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}